{% extends "_layout.html" %}

{%block extra_scripts %}

<script type="text/javascript" src="/static/js/membership.js"></script>
<script type="text/javascript">
    $('#add-member').popover({
        html: true,
        trigger: 'click',
        container: 'body',
        title: function() {
            return $("#add-member-form-title").html();
        },
        content: function() {
            return $("#add-member-form").html();
        }
    });
</script>

{% endblock %}

{% block title %}Members{% endblock %}

{%block content %}
<div class="container">
    <h2>Family Members</h2>

    <div class="iso-bs-example-popover pull-right">
        {% include 'member_add.html' %}
    </div>

    {% if members %}
        {% include 'member_list.html' %}
    {% endif %}
</div>


{% endblock %}
