<a id="add-member" class="btn btn-link"
    data-placement="bottom"
    data-toggle="popover">Add Member +</a>

<div id="add-member-form-title"
    class="hide"
    onclick="AccountMembershipActions.showHeaderActionsOverlay(); return false;">Add Member</div>
<div id="add-member-form" class="hide">
    <form class="form-horizontal" action="/account/addmember" method="post">
            <div class="control-group">
                <label class="control-label" for="inputNameOrEmail">Name or Email</label>
                <div class="controls">
                     <input type="text" name="member_string" id="inputNameOrEmail"
                        size="30"
                        value=""
                        placeholder="Name or Email"
                        onkeyup="if (event.keyCode == Event.KEY_RETURN) { $('add_member_button').click(); }">
                </div>

            </div>

            <div class="control-group">
                <label class="control-label" for="inputRole">Account Role</label>
                <div class="controls">
                    <select id="inputRole" name="account_role" placeholder="Account Role">
                        <option value="Admin">Admin</option>
                        <option value="Member" selected="selected">Member</option>
                    </select>
                </div>

            </div>

            <div class="control-group pull-right">
              <a type="submit" class="btn btn-link"
                    onclick="AccountMembershipActions.removeOverlays(); return false;">cancel</a>

                <button type="submit" class="btn btn-primary">Add</button>
            </div>
    </form>
</div>