<form class="form-horizontal" action="/submit" method="post">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="inputAmount">Amount</label>
            <div class="controls">
                <input type="text" name="amount" id="inputAmount" placeholder="Amount" number="true" onclick="this.value=this.value.replace(/,/g,'');">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputType">Type</label>
            <div class="controls">
                <select name="ie_type" id="inputType">
                    {% for option, value in ie_type %}
                        <option value="{{value}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSubject">Subject</label>
            <div class="controls">
                <select name="subject" id="inputSubject" editable="true">
                    {% for option in subjects %}
                        <option value="{{option}}">{{option}}</option>
                    {% endfor %}
                    <option value="other">Other</option>
                    <option value="">Add Subject</option>
                </select>
            </div>
        </div>
         <div class="control-group">
            <label class="control-label" for="dpData">Date</label>
            <div class="controls">
                <div class="dp input-append date" id="dpData" data-date-format="dd/MM/yyyy">
                    <input id="inputData" type="text" name="date" placeholder="Date">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>

        </div>
        <div class="control-group">
            <label class="control-label" for="inputStakeholder">Stakeholder</label>
            <div class="controls">
               <input type="text" name="stakeholder" id="inputStakeholder" placeholder="Stakeholder" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescription">Description</label>
            <div class="controls">
               <input type="text" name="stakeholder" id="inputDescription" placeholder="Description" />
            </div>
        </div>
        <hr>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </fieldset>
</form>
