{%block link_script %}

<script language="javascript" type="text/javascript"
	src="/content/My97DatePicker/WdatePicker.js"></script>

{% endblock %}
<script type="text/javascript">
	window.onload = function() {
		initElement();
	};

	function initElement() {
		var today = new Date;
		document.getElementById("datetime").value = today.format('yyyy/MM/dd');
		document.getElementById("input_float").focus();
	};
</script>


<form action="/submit" method="post">


	<div class="editor-label">
		<label>Amount</label>
	</div>
	<div class="editor-field">
		<input type="text" name="amount" id="input_float" number="true"
			onclick="this.value=this.value.replace(/,/g,'');" />
	</div>

	<div class="editor-label">
		<label>Type/Subject</label>
	</div>
	<div class="editor-field">
		<select name="ie_type" style="width: 100px"> 
		  {% for option, value in ie_type %}
			<option value="{{value}}">{{option}}</option> 
		  {% endfor %}
		</select> 
		<select name="subject" style="width: 100px" editable="true"> 
		  {% for option in subjects %}
			<option value="{{option}}">{{option}}</option> 
		  {% endfor %}
			<option value="other">Other</option>
			<option value="">Add Subject</option>
		</select>
	</div>
	<div class="editor-field"></div>
	<div class="editor-label">
		<label>Date</label>
	</div>
	<div class="editor-field">
		<input class="Wdate" type="text" name="date" id="datetime"
			onFocus="WdatePicker({dateFmt:'yyyy/MM/dd'})" />
	</div>
	<div class="editor-label">
		<label>Stakeholder</label>
	</div>
	<div class="editor-field">
		<input type="text" name="stakeholder" />
	</div>

	<div class="editor-label">
		<label>Description</label>
	</div>
	<div class="editor-field">
		<input type="text" name="description" />
	</div>
	<p>
		<input type="submit" value="Submit" />
	</p>
</form>
